In [1]:
import pandas as pd 
import numpy as np
import os

In [2]:
prem = pd.read_csv("E0.csv")

In [3]:
prem

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,15/08/09,Aston Villa,Wigan,0,2,A,0,1,A,...,2.04,1.92,1.91,1.81,21,0.00,1.28,1.22,4.40,3.99
1,E0,15/08/09,Blackburn,Man City,0,2,A,0,1,A,...,2.15,2.04,1.78,1.71,24,0.00,2.58,2.38,1.60,1.54
2,E0,15/08/09,Bolton,Sunderland,0,1,A,0,1,A,...,2.25,2.12,1.70,1.66,23,0.00,1.68,1.61,2.33,2.23
3,E0,15/08/09,Chelsea,Hull,2,1,H,1,1,D,...,1.67,1.58,2.44,2.26,22,0.00,1.03,1.02,17.05,12.96
4,E0,15/08/09,Everton,Arsenal,1,6,A,0,3,A,...,2.20,2.06,1.77,1.70,24,0.00,2.27,2.20,1.73,1.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,09/05/10,Everton,Portsmouth,1,0,H,0,0,D,...,1.62,1.56,2.40,2.30,15,0.00,1.10,1.06,10.00,7.72
376,E0,09/05/10,Hull,Liverpool,0,0,D,0,0,D,...,1.79,1.71,2.23,2.05,15,0.00,5.00,4.38,1.20,1.18
377,E0,09/05/10,Man United,Stoke,4,0,H,2,0,H,...,1.57,1.50,2.63,2.46,14,-2.25,2.08,2.02,1.91,1.85
378,E0,09/05/10,West Ham,Man City,1,1,D,1,1,D,...,1.67,1.60,2.30,2.20,13,0.00,3.25,2.99,1.44,1.35
379,E0,09/05/10,Wolves,Sunderland,2,1,H,1,1,D,...,2.00,1.92,1.94,1.84,21,0.00,1.73,1.64,2.33,2.16

##### here i was trying to create a table made up of the teams particpating in the 09/10 season

In [4]:
teams = prem["HomeTeam"].drop_duplicates()

In [5]:
teams

0     Aston Villa
1       Blackburn
2          Bolton
3         Chelsea
4         Everton
5      Portsmouth
6           Stoke
7          Wolves
8      Man United
9       Tottenham
10     Sunderland
11          Wigan
12     Birmingham
13        Burnley
14           Hull
15      Liverpool
16        Arsenal
19       Man City
23         Fulham
24       West Ham
Name: HomeTeam, dtype: object

In [6]:
teams[:10]

0    Aston Villa
1      Blackburn
2         Bolton
3        Chelsea
4        Everton
5     Portsmouth
6          Stoke
7         Wolves
8     Man United
9      Tottenham
Name: HomeTeam, dtype: object

In [7]:
prem.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')

Date = Match Date (dd/mm/yy)
HomeTeam = Home Team
AwayTeam = Away Team
FTHG = Full Time Home Team Goals
FTAG = Full Time Away Team Goals
FTR = Full Time Result (H=Home Win, D=Draw, A=Away Win)
HTHG = Half Time Home Team Goals
HTAG = Half Time Away Team Goals
HTR = Half Time Result (H=Home Win, D=Draw, A=Away Win)

Match Statistics (where available)
Attendance = Crowd Attendance
Referee = Match Referee
HS = Home Team Shots
AS = Away Team Shots
HST = Home Team Shots on Target
AST = Away Team Shots on Target
HHW = Home Team Hit Woodwork
AHW = Away Team Hit Woodwork
HC = Home Team Corners
AC = Away Team Corners
HF = Home Team Fouls Committed
AF = Away Team Fouls Committed
HO = Home Team Offsides
AO = Away Team Offsides
HY = Home Team Yellow Cards
AY = Away Team Yellow Cards
HR = Home Team Red Cards
AR = Away Team Red Cards
HBP = Home Team Bookings Points (10 = yellow, 25 = red)
ABP = Away Team Bookings Points (10 = yellow, 25 = red)

In [8]:
prem09 = prem.drop(columns=['B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'])

In [9]:
prem09

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,15/08/09,Aston Villa,Wigan,0,2,A,0,1,A,...,5,7,15,14,4,6,2,2,0,0
1,E0,15/08/09,Blackburn,Man City,0,2,A,0,1,A,...,9,5,12,9,5,4,2,1,0,0
2,E0,15/08/09,Bolton,Sunderland,0,1,A,0,1,A,...,3,13,16,10,4,7,2,1,0,0
3,E0,15/08/09,Chelsea,Hull,2,1,H,1,1,D,...,12,3,13,15,12,4,1,2,0,0
4,E0,15/08/09,Everton,Arsenal,1,6,A,0,3,A,...,5,9,11,13,4,9,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,09/05/10,Everton,Portsmouth,1,0,H,0,0,D,...,13,4,12,11,14,1,0,0,0,0
376,E0,09/05/10,Hull,Liverpool,0,0,D,0,0,D,...,6,7,15,11,2,6,1,0,0,0
377,E0,09/05/10,Man United,Stoke,4,0,H,2,0,H,...,13,4,10,4,10,2,2,0,0,0
378,E0,09/05/10,West Ham,Man City,1,1,D,1,1,D,...,8,6,12,7,4,3,2,0,0,0
379,E0,09/05/10,Wolves,Sunderland,2,1,H,1,1,D,...,7,5,11,19,4,1,1,2,0,2

In [10]:
prem.loc[:20, ["HomeTeam","AwayTeam","HF","AF"]]

       HomeTeam    AwayTeam  HF  AF
0   Aston Villa       Wigan  15  14
1     Blackburn    Man City  12   9
2        Bolton  Sunderland  16  10
3       Chelsea        Hull  13  15
4       Everton     Arsenal  11  13
5    Portsmouth      Fulham  11  18
6         Stoke     Burnley  15  10
7        Wolves    West Ham   9   5
8    Man United  Birmingham  13   7
9     Tottenham   Liverpool  14  16
10   Sunderland     Chelsea  14  10
11        Wigan      Wolves   8  21
12   Birmingham  Portsmouth  11  20
13      Burnley  Man United   8  12
14         Hull   Tottenham  23  13
15    Liverpool       Stoke  10   9
16      Arsenal  Portsmouth   9  10
17   Birmingham       Stoke   8  13
18         Hull      Bolton  19  19
19     Man City      Wolves   7  11
20   Sunderland   Blackburn  12  14

## goals

In [11]:
total_Hgoals09= prem09["FTHG"].sum()
total_Agoals09 = prem09["FTAG"].sum()
total_goals09 = total_Agoals09 + total_Hgoals09

In [12]:
avarage_goals09 = prem09["FTHG"].mean() + prem09["FTAG"].mean()

### number of goals scored in the premier league 09/10 season:

In [13]:
total_goals09

1053

### avarage goals scored in the premier league 09/10 season:

In [14]:
avarage_goals09

2.7710526315789474

## fouls

In [15]:
total_fouls09 = prem09["AF"].sum() + prem09["HF"].sum()

In [16]:
total_fouls09

9194

In [17]:
avarage_fouls09 = prem09["AF"].mean() + prem09["HF"].mean()

In [18]:
avarage_fouls09

24.194736842105264

#### total fouls in the premier league 09/10 season:

In [19]:
total_fouls09

9194

#### avarage fouls in the premier league 09/10 season:

In [20]:
avarage_fouls09

24.194736842105264

### shots

In [21]:
total_shots09 = prem["AS"].sum() + prem09["HS"].sum()

In [22]:
total_shots09

9290

In [23]:
avarage_shots09 = prem["AS"].mean() + prem["HS"].mean()

In [24]:
avarage_shots09

24.44736842105263

In [25]:
total_shots_target09 = prem["HST"].sum() + prem["AST"].sum()

###  total shots in the premier league 09/10 season:

In [26]:
total_shots09

9290

###  avarage shots in the premier league 09/10 season:

In [27]:
total_shots_target09

5188

###  i created two functions to make everything faster
### ***avarage*** which calculates the avarage of a variable
### ***percentage*** which calculates the percentage when given two variables

In [28]:
def avarage(x):
    y = 380
    return x/y

In [29]:
avarage_shots_target09 = avarage(total_shots_target09)

In [30]:
def percentage(x,y):
    return (x/y)*100

In [31]:
def total(x,y):
    x = x.sum()
    y = y.sum()
    return (x+y)

In [32]:
def avarage2(x,y):
    x = x.mean()
    y = y.mean()
    return (x+y)

In [33]:
total(prem["AF"],prem["HF"])

9194

In [34]:
percentage_shots09 = percentage(total_goals09,total_shots_target09)

### this shows a percentage of how many goals were scored from shots on target

In [35]:
percentage_shots09

20.29683885890517

### comebacks

In [36]:
prem09.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,1.697368,1.073684,0.744737,0.471053,13.728947,10.718421,7.723684,5.928947,11.639474,12.555263,6.215789,4.976316,1.384211,1.871053,0.060526,0.118421
std,1.467500,1.122964,0.825452,0.694269,5.379793,4.510577,3.622703,3.149352,3.576384,3.884153,3.111094,2.762731,1.168976,1.322309,0.249580,0.347137
min,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,1.000000,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,10.000000,7.000000,5.000000,3.750000,9.000000,10.000000,4.000000,3.000000,0.000000,1.000000,0.000000,0.000000
50%,2.000000,1.000000,1.000000,0.000000,12.500000,10.000000,7.000000,5.000000,12.000000,12.000000,6.000000,5.000000,1.000000,2.000000,0.000000,0.000000
75%,2.000000,2.000000,1.000000,1.000000,17.000000,13.000000,10.000000,8.000000,14.000000,15.000000,8.000000,7.000000,2.000000,3.000000,0.000000,0.000000
max,9.000000,6.000000,4.000000,5.000000,33.000000,27.000000,19.000000,17.000000,23.000000,24.000000,16.000000,14.000000,5.000000,6.000000,2.000000,2.000000

In [37]:
prem09.loc[:30, ["HomeTeam","AwayTeam","HTHG","HTAG","FTHG","FTAG" ]]

       HomeTeam     AwayTeam  HTHG  HTAG  FTHG  FTAG
0   Aston Villa        Wigan     0     1     0     2
1     Blackburn     Man City     0     1     0     2
2        Bolton   Sunderland     0     1     0     1
3       Chelsea         Hull     1     1     2     1
4       Everton      Arsenal     0     3     1     6
5    Portsmouth       Fulham     0     1     0     1
6         Stoke      Burnley     2     0     2     0
7        Wolves     West Ham     0     1     0     2
8    Man United   Birmingham     1     0     1     0
9     Tottenham    Liverpool     1     0     2     1
10   Sunderland      Chelsea     1     0     1     3
11        Wigan       Wolves     0     1     0     1
12   Birmingham   Portsmouth     0     0     1     0
13      Burnley   Man United     1     0     1     0
14         Hull    Tottenham     1     3     1     5
15    Liverpool        Stoke     2     0     4     0
16      Arsenal   Portsmouth     2     1     4     1
17   Birmingham        Stoke     0     0     0     0
18         Hull       Bolton     0     0     1     0
19     Man City       Wolves     1     0     1     0
20   Sunderland    Blackburn     1     1     2     1
21        Wigan   Man United     0     0     0     5
22      Burnley      Everton     1     0     1     0
23       Fulham      Chelsea     0     1     0     2
24     West Ham    Tottenham     0     0     1     2
25    Liverpool  Aston Villa     0     2     1     3
26    Blackburn     West Ham     0     0     0     0
27       Bolton    Liverpool     1     1     2     3
28      Chelsea      Burnley     1     0     3     0
29   Man United      Arsenal     0     1     2     1
30        Stoke   Sunderland     1     0     1     0

In [38]:
comebacks_away09 = len(prem09[(prem09["HTHG"] > prem09["HTAG"]) & (prem09["FTAG"] > prem09["FTHG"])])
comebacks_home09 = len(prem09[(prem09["HTAG"] > prem09["HTHG"]) & (prem09["FTHG"] > prem09["FTAG"])])

In [39]:
comebacks_away09

5

In [40]:
comebacks_home09

12

### this shows the total number of comebacks done after halftime in the premier league 09/10 season

In [41]:
print(comebacks_home09 + comebacks_away09)

17

### this shows the total number of comebacks done by away teams after halftime in the premier league 09/10 season

In [42]:
comebacks_away09

5

### this shows the total number of comebacks done by home teams after halftime in the premier league 09/10 season

In [43]:
comebacks_home09

12

## premier league 2010/2011

In [44]:
prem10 = pd.read_csv("prem1011.csv")

In [45]:
prem10.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,14/08/10,Aston Villa,West Ham,3,0,H,2,0,H,...,2.11,2.01,1.82,1.75,20,0.0,1.45,1.40,3.00,2.78
1,E0,14/08/10,Blackburn,Everton,1,0,H,1,0,H,...,2.20,2.08,1.79,1.70,29,0.0,2.20,2.05,1.85,1.75
2,E0,14/08/10,Bolton,Fulham,0,0,D,0,0,D,...,2.22,2.09,1.75,1.69,24,0.0,1.60,1.55,2.56,2.36
3,E0,14/08/10,Chelsea,West Brom,6,0,H,2,0,H,...,1.53,1.49,2.61,2.49,19,-2.0,2.06,2.01,1.91,1.85
4,E0,14/08/10,Sunderland,Birmingham,2,2,D,1,0,H,...,2.28,2.16,1.71,1.65,24,0.0,1.64,1.55,2.50,2.38

In [46]:
prem10 = prem10.drop(columns=['B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'])

In [47]:
prem10

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,14/08/10,Aston Villa,West Ham,3,0,H,2,0,H,...,11,2,15,15,16,7,1,2,0,0
1,E0,14/08/10,Blackburn,Everton,1,0,H,1,0,H,...,2,12,19,14,1,3,2,1,0,0
2,E0,14/08/10,Bolton,Fulham,0,0,D,0,0,D,...,9,7,12,13,4,8,1,3,0,0
3,E0,14/08/10,Chelsea,West Brom,6,0,H,2,0,H,...,13,4,10,10,3,1,1,0,0,0
4,E0,14/08/10,Sunderland,Birmingham,2,2,D,1,0,H,...,2,7,13,10,3,6,3,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/11,Newcastle,West Brom,3,3,D,2,0,H,...,10,7,5,8,7,6,0,0,0,0
376,E0,22/05/11,Stoke,Wigan,0,1,A,0,0,D,...,5,9,10,9,5,3,1,4,0,0
377,E0,22/05/11,Tottenham,Birmingham,2,1,H,0,0,D,...,16,3,5,15,7,5,0,3,0,0
378,E0,22/05/11,West Ham,Sunderland,0,3,A,0,1,A,...,12,12,7,8,4,6,0,2,0,0
379,E0,22/05/11,Wolves,Blackburn,2,3,A,0,3,A,...,5,10,12,9,8,3,3,1,0,0

In [48]:
total_Agoals10 = prem10["FTAG"].sum()
total_Hgoals10 = prem10["FTHG"].sum()
total_goals10 = total_Agoals10 + total_Hgoals10

In [49]:
total_goals10

1063

In [50]:
total_Agoals10

446

In [51]:
total_fouls10 = prem10["AF"].sum() + prem10["HF"].sum()

In [52]:
total_fouls10

8518

In [53]:
avarage_fouls10 = avarage(total_fouls10)

In [54]:
total_shots10 = total(prem10["AS"],prem10["HS"])

In [55]:
total_shots_target10 = prem10["HST"].sum() + prem10["AST"].sum()

In [56]:
total_shots_target10

5173

In [57]:
avarage_shots_target10 = avarage(total_shots_target10)

In [58]:
percentage(total_goals10,total_shots_target10)

20.54900444616277

In [59]:
comebacks_away10 = len(prem10[(prem10["HTHG"] > prem10["HTAG"]) & (prem10["FTAG"] > prem10["FTHG"])])
comebacks_home10 = len(prem10[(prem10["HTAG"] > prem10["HTHG"]) & (prem10["FTHG"] > prem10["FTAG"])])

In [60]:
comebacks_home10

11

In [61]:
comebacks_away10

5

## premier league 11/12

In [62]:
prem11 = pd.read_csv("prem1112.csv")

In [63]:
prem11 = prem11.drop(columns=['B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'])

In [64]:
prem11[370:]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
370,E0,13/05/12,Chelsea,Blackburn,2,1,H,2,0,H,...,6,5,13,4,8,2,1,0,0,0
371,E0,13/05/12,Everton,Newcastle,3,1,H,2,0,H,...,11,5,15,16,4,3,2,1,0,0
372,E0,13/05/12,Man City,QPR,3,2,H,1,0,H,...,24,3,4,6,19,0,1,1,0,1
373,E0,13/05/12,Norwich,Aston Villa,2,0,H,2,0,H,...,12,5,6,10,9,6,1,2,0,0
374,E0,13/05/12,Stoke,Bolton,2,2,D,1,2,A,...,8,8,10,5,5,9,1,1,0,0
375,E0,13/05/12,Sunderland,Man United,0,1,A,0,1,A,...,5,9,14,11,1,9,3,3,0,0
376,E0,13/05/12,Swansea,Liverpool,1,0,H,0,0,D,...,8,9,5,5,6,5,1,1,0,0
377,E0,13/05/12,Tottenham,Fulham,2,0,H,1,0,H,...,9,7,8,12,9,3,0,2,0,0
378,E0,13/05/12,West Brom,Arsenal,2,3,A,2,2,D,...,8,8,12,10,9,5,0,1,0,0
379,E0,13/05/12,Wigan,Wolves,3,2,H,2,1,H,...,10,7,15,9,9,2,1,2,0,0

In [65]:
total_goals11 = total(prem11["FTHG"],prem11["FTAG"])

In [66]:
total_goals11

1066

In [67]:
avarage(total_goals11)

2.805263157894737

In [68]:
total_shots11  = total(prem11["HS"],prem11["AS"])

In [69]:
avarage(total_shots11)

25.96842105263158

In [70]:
total_fouls11 = total(prem11["AF"],prem11["HF"])

In [71]:
avarage_fouls11 = avarage(total_fouls11)

In [72]:
total_shots_target11 = total(prem11["HST"],prem11["AST"])

In [73]:
avarage_shots_target11 = avarage(total_shots_target11)

In [74]:
percentage(total_goals11,total_shots_target11)

19.11764705882353

In [75]:
comebacks_away11 = len(prem11[(prem11["HTHG"] > prem11["HTAG"]) & (prem11["FTAG"] > prem11["FTHG"])])
comebacks_home11 = len(prem11[(prem11["HTAG"] > prem11["HTHG"]) & (prem11["FTHG"] > prem11["FTAG"])])

In [76]:
comebacks_away11

5

In [77]:
comebacks_home11

5

In [78]:
prem12 = pd.read_csv("prem1213.csv")
prem13 = pd.read_csv("prem1314.csv")
prem14 = pd.read_csv("prem1415.csv")
prem15 = pd.read_csv("prem1516.csv")
prem16 = pd.read_csv("prem1617.csv")
prem17 = pd.read_csv("prem1718.csv")
prem18 = pd.read_csv("prem1819.csv")
prem19 = pd.read_csv("prem1920.csv")
prem20 = pd.read_csv("prem2021.csv")
prem21 = pd.read_csv("prem2122.csv")

## premier league 12/13

In [79]:
prem12 = prem12.drop(columns=['PSH', 'PSD', 'PSA', 'PSCH', 'PSCD',
       'PSCA'])

In [80]:
prem12.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'BSH',
       'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA',
       'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH',
       'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA'],
      dtype='object')

In [81]:
total_goals12 = total(prem12["FTHG"],prem12["FTAG"])

In [82]:
avarage_goals12 = avarage(total_goals12)

In [83]:
total_fouls12 = total(prem12["AF"],prem12["HF"])

In [84]:
avarage_fouls12 = avarage(total_fouls12)

In [85]:
total_shots12 = total(prem12["HS"], prem12["AS"])

In [86]:
avarage_shots12 = avarage(total_shots12)

In [87]:
total_shots_target12 = total(prem12["HST"],prem12["AST"])

In [88]:
avarage_shots_target12 = avarage(total_shots_target12)

In [89]:
percentage(total_goals12,total_shots_target12)

19.648798521256932

In [90]:
comebacks_away12 = len(prem12[(prem12["HTHG"] > prem12["HTAG"]) & (prem12["FTAG"] > prem12["FTHG"])])
comebacks_home12 = len(prem12[(prem12["HTAG"] > prem12["HTHG"]) & (prem12["FTHG"] > prem12["FTAG"])])

In [91]:
comebacks_away12

8

In [92]:
comebacks_home12

13

## premier league 13/14

In [93]:
prem13 = prem13.drop(columns=['PSH', 'PSD', 'PSA', 'PSCH', 'PSCD',
       'PSCA'])

In [94]:
prem13.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'WHH', 'WHD', 'WHA',
       'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA'],
      dtype='object')

In [95]:
total_goals13 = total(prem13["FTHG"],prem13["FTAG"])

In [96]:
avarage_goals13 = avarage(total_goals13)

In [97]:
total_fouls13 = total(prem13["AF"],prem13["HF"])

In [98]:
avarage_fouls13 = avarage(total_fouls13)

In [99]:
total_shots13 = total(prem13["HS"], prem13["AS"])

In [100]:
avarage_shots13 = avarage(total_shots13)

In [101]:
total_shots_target13 = total(prem13["HST"],prem13["AST"])

In [102]:
avarage_shots_target13 = avarage(total_shots_target13)

In [103]:
percentage(total_goals13,total_shots_target13)

31.02329696254792

In [104]:
comebacks_away13 = len(prem13[(prem13["HTHG"] > prem13["HTAG"]) & (prem13["FTAG"] > prem13["FTHG"])])
comebacks_home13 = len(prem13[(prem13["HTAG"] > prem13["HTHG"]) & (prem13["FTHG"] > prem13["FTAG"])])

In [105]:
comebacks_away13

5

In [106]:
comebacks_home13

9

## premier league season 14/15

In [107]:
prem14 = prem14.drop(columns=[ 'PSH', 'PSD', 'PSA', 'PSCH', 'PSCD',
       'PSCA'])

In [108]:
prem14.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'WHH', 'WHD', 'WHA',
       'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA'],
      dtype='object')

In [109]:
total_goals14 = total(prem14["FTHG"],prem14["FTAG"])

In [110]:
avarage_goals14 = avarage(total_goals14)

In [111]:
total_fouls14 = total(prem14["AF"],prem14["HF"])

In [112]:
avarage_fouls14 = avarage(total_fouls14)

In [113]:
total_shots14 = total(prem14["HS"], prem14["AS"])

In [114]:
avarage_shots14 = avarage(total_shots14)

In [115]:
total_shots_target14 = total(prem14["HST"],prem14["AST"])

In [116]:
avarage_shots_target14 = avarage(total_shots_target14)

In [117]:
percentage(total_goals14,total_shots_target14)

30.52598622417032

In [118]:
comebacks_away14 = len(prem14[(prem14["HTHG"] > prem14["HTAG"]) & (prem14["FTAG"] > prem14["FTHG"])])
comebacks_home14 = len(prem14[(prem14["HTAG"] > prem14["HTHG"]) & (prem14["FTHG"] > prem14["FTAG"])])

In [119]:
comebacks_away14

6

In [120]:
comebacks_home14

5

## premier league season 15/16

In [121]:
prem15 = prem15.drop(columns=['B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
        'WHH', 'WHD', 'WHA', 'VCH',
       'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA','PSH', 'PSD', 'PSA', 'PSCH', 'PSCD',
       'PSCA'])

In [122]:
prem15.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

In [123]:
total_goals15 = total(prem15["FTHG"],prem15["FTAG"])
avarage_goals15 = avarage(total_goals15)
total_fouls15 = total(prem15["AF"],prem15["HF"])
avarage_fouls15 = avarage(total_fouls15)
total_shots15 = total(prem15["HS"], prem15["AS"])
avarage_shots15 = avarage(total_shots15)
total_shots_target15 = total(prem15["HST"],prem15["AST"])
avarage_shots_target15 = avarage(total_shots_target15)
percentage(total_goals15,total_shots_target15)
comebacks_away15 = len(prem15[(prem15["HTHG"] > prem15["HTAG"]) & (prem15["FTAG"] > prem15["FTHG"])])
comebacks_home15 = len(prem15[(prem15["HTAG"] > prem15["HTHG"]) & (prem15["FTHG"] > prem15["FTAG"])])

In [124]:
comebacks_away15

9

In [125]:
comebacks_home15

8

## premier league season 16/17

In [126]:
prem16 = prem16.drop(columns=['B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
        'WHH', 'WHD', 'WHA', 'VCH',
       'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA','PSH', 'PSD', 'PSA', 'PSCH', 'PSCD',
       'PSCA'])

In [127]:
prem16.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

In [128]:
total_goals16 = total(prem16["FTHG"],prem16["FTAG"])
avarage_goals16 = avarage(total_goals16)
total_fouls16 = total(prem16["AF"],prem16["HF"])
avarage_fouls16 = avarage(total_fouls16)
total_shots16 = total(prem16["HS"], prem16["AS"])
avarage_shots16 = avarage(total_shots16)
total_shots_target16 = total(prem16["HST"],prem16["AST"])
avarage_shots_target16 = avarage(total_shots_target16)
percentage(total_goals16,total_shots_target16)
comebacks_away16 = len(prem16[(prem16["HTHG"] > prem16["HTAG"]) & (prem16["FTAG"] > prem16["FTHG"])])
comebacks_home16 = len(prem16[(prem16["HTAG"] > prem16["HTHG"]) & (prem16["FTHG"] > prem16["FTAG"])])

In [129]:
comebacks_away16

5

In [130]:
comebacks_home16

7

## premier league season 17/18

In [131]:
prem17 = prem17.drop(columns=['B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
        'WHH', 'WHD', 'WHA', 'VCH',
       'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA','PSH', 'PSD', 'PSA', 'PSCH', 'PSCD',
       'PSCA'])

In [132]:
prem17.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

In [133]:
total_goals17 = total(prem17["FTHG"],prem17["FTAG"])
avarage_goals17 = avarage(total_goals17)
total_fouls17 = total(prem17["AF"],prem17["HF"])
avarage_fouls17 = avarage(total_fouls17)
total_shots17 = total(prem17["HS"], prem17["AS"])
avarage_shots17 = avarage(total_shots17)
total_shots_target17 = total(prem17["HST"],prem17["AST"])
avarage_shots_target17 = avarage(total_shots_target17)
percentage(total_goals17,total_shots_target17)
comebacks_away17 = len(prem17[(prem17["HTHG"] > prem17["HTAG"]) & (prem17["FTAG"] > prem17["FTHG"])])
comebacks_home17 = len(prem17[(prem17["HTAG"] > prem17["HTHG"]) & (prem17["FTHG"] > prem17["FTAG"])])

In [134]:
comebacks_away17

9

In [135]:
comebacks_home17

9

## premier league 18/19

In [136]:
prem18 = prem18.drop(columns=['B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA',
        'WHH', 'WHD', 'WHA', 'VCH',
       'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA','PSH', 'PSD', 'PSA', 'PSCH', 'PSCD',
       'PSCA'])

In [137]:
prem18.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

In [138]:
total_goals18 = total(prem18["FTHG"],prem18["FTAG"])
avarage_goals18 = avarage(total_goals18)
total_fouls18 = total(prem18["AF"],prem18["HF"])
avarage_fouls18 = avarage(total_fouls18)
total_shots18 = total(prem18["HS"], prem18["AS"])
avarage_shots18 = avarage(total_shots18)
total_shots_target18 = total(prem18["HST"],prem18["AST"])
avarage_shots_target18 = avarage(total_shots_target18)
percentage(total_goals18,total_shots_target18)
comebacks_away18 = len(prem18[(prem18["HTHG"] > prem18["HTAG"]) & (prem18["FTAG"] > prem18["FTHG"])])
comebacks_home18 = len(prem18[(prem18["HTAG"] > prem18["HTHG"]) & (prem18["FTHG"] > prem18["FTAG"])])

In [139]:
comebacks_away18

4

In [140]:
comebacks_home18

13

## premier league 19/20

In [141]:
prem19 = prem19.drop(columns=['MaxH', 'MaxD', 'MaxA', 'AvgH',
       'AvgD', 'AvgA', 'B365>2.5', 'B365<2.5', 'P>2.5', 'P<2.5', 'Max>2.5',
       'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH',
       'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH', 'AvgAHA', 'B365CH', 'B365CD',
       'B365CA', 'BWCH', 'BWCD', 'BWCA', 'IWCH', 'IWCD', 'IWCA', 'WHCH',
       'WHCD', 'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA',
       'AvgCH', 'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5',
       'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH',
       'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH',
       'AvgCAHA'])

In [142]:
prem19.columns

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF',
       'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH',
       'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD',
       'WHA', 'VCH', 'VCD', 'VCA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')

In [174]:
total_goals19 = total(prem19["FTHG"],prem19["FTAG"])
avarage_goals19 = avarage(total_goals19)
total_fouls19 = total(prem19["AF"],prem19["HF"])
avarage_fouls19 = avarage(total_fouls19)
total_shots19 = total(prem19["HS"], prem19["AS"])
avarage_shots19 = avarage(total_shots19)
total_shots_target19 = total(prem19["HST"],prem19["AST"])
avarage_shots_target19 = avarage(total_shots_target19)
percentage(total_goals19,total_shots_target19)
comebacks_away19 = len(prem19[(prem19["HTHG"] > prem19["HTAG"]) & (prem19["FTAG"] > prem19["FTHG"])])
comebacks_home19 = len(prem19[(prem19["HTAG"] > prem19["HTHG"]) & (prem19["FTHG"] > prem19["FTAG"])])
total_comebacks09 = comebacks_away09 + comebacks_home09
total_comebacks10 = comebacks_away10 + comebacks_home10
total_comebacks11 = comebacks_away11 + comebacks_home11
total_comebacks12 = comebacks_away12 + comebacks_home12
total_comebacks13 = comebacks_away13 + comebacks_home13
total_comebacks14 = comebacks_away14 + comebacks_home14
total_comebacks15 = comebacks_away15 + comebacks_home15
total_comebacks16 = comebacks_away16 + comebacks_home16
total_comebacks17 = comebacks_away17 + comebacks_home17
total_comebacks18 = comebacks_away18 + comebacks_home18
total_comebacks19 = comebacks_away19 + comebacks_home19
total_comebacks20 = comebacks_away20 + comebacks_home20
total_comebacks21 = comebacks_away21 + comebacks_home21

In [144]:
comebacks_away19

8

In [145]:
comebacks_home19

14

## premier league season 20/21

In [146]:
prem20 = prem20.drop(columns=['B365H', 'B365D', 'B365A', 'BWH',
       'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD',
       'WHA', 'VCH', 'VCD', 'VCA', 'PSCH', 'PSCD', 'PSCA'])

In [147]:
prem20.columns

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF',
       'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'MaxH', 'MaxD', 'MaxA', 'AvgH',
       'AvgD', 'AvgA', 'B365>2.5', 'B365<2.5', 'P>2.5', 'P<2.5', 'Max>2.5',
       'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH',
       'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH', 'AvgAHA', 'B365CH', 'B365CD',
       'B365CA', 'BWCH', 'BWCD', 'BWCA', 'IWCH', 'IWCD', 'IWCA', 'WHCH',
       'WHCD', 'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA',
       'AvgCH', 'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5',
       'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH',
       'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH',
       'AvgCAHA'],
      dtype='object')

In [148]:
total_goals20 = total(prem20["FTHG"],prem20["FTAG"])
avarage_goals20 = avarage(total_goals20)
total_fouls20 = total(prem20["AF"],prem20["HF"])
avarage_fouls20 = avarage(total_fouls20)
total_shots20 = total(prem20["HS"], prem20["AS"])
avarage_shots20 = avarage(total_shots20)
total_shots_target20 = total(prem20["HST"],prem20["AST"])
avarage_shots_target20 = avarage(total_shots_target20)
percentage(total_goals20,total_shots_target20)
comebacks_away20 = len(prem20[(prem20["HTHG"] > prem20["HTAG"]) & (prem20["FTAG"] > prem20["FTHG"])])
comebacks_home20 = len(prem20[(prem20["HTAG"] > prem20["HTHG"]) & (prem20["FTHG"] > prem20["FTAG"])])

In [149]:
comebacks_away20

9

In [150]:
comebacks_home20

9

## premier league 21/22

In [151]:
prem21 = prem21.drop(columns=['MaxH', 'MaxD', 'MaxA', 'AvgH',
       'AvgD', 'AvgA', 'B365>2.5', 'B365<2.5', 'P>2.5', 'P<2.5', 'Max>2.5',
       'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH',
       'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH', 'AvgAHA', 'B365CH', 'B365CD',
       'B365CA', 'BWCH', 'BWCD', 'BWCA', 'IWCH', 'IWCD', 'IWCA', 'WHCH',
       'WHCD', 'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA',
       'AvgCH', 'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5',
       'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH',
       'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH',
       'AvgCAHA','B365H', 'B365D', 'B365A', 'BWH',
       'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD',
       'WHA', 'VCH', 'VCD', 'VCA', 'PSCH', 'PSCD', 'PSCA'])

In [152]:
prem21.columns

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF',
       'HC', 'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

In [153]:
total_goals21 = total(prem21["FTHG"],prem21["FTAG"])
avarage_goals21 = avarage(total_goals21)
total_fouls21 = total(prem21["AF"],prem21["HF"])
avarage_fouls21 = avarage(total_fouls21)
total_shots21 = total(prem21["HS"], prem21["AS"])
avarage_shots21 = avarage(total_shots21)
total_shots_target21 = total(prem21["HST"],prem21["AST"])
avarage_shots_target21 = avarage(total_shots_target21)
percentage(total_goals21,total_shots_target21)
comebacks_away21 = len(prem21[(prem21["HTHG"] > prem21["HTAG"]) & (prem21["FTAG"] > prem21["FTHG"])])
comebacks_home21 = len(prem21[(prem21["HTAG"] > prem21["HTHG"]) & (prem21["FTHG"] > prem21["FTAG"])])

In [154]:
comebacks_away21

8

In [155]:
comebacks_home21

10

In [176]:
data1 = {"goals": [total_goals09,total_goals10,total_goals11,total_goals12,total_goals13,total_goals14,total_goals15,total_goals16,total_goals17,total_goals18,total_goals19,total_goals20,total_goals21],
"fouls": [total_fouls09,total_fouls10,total_fouls11,total_fouls12,total_fouls13,total_fouls14,total_fouls15,total_fouls16,total_fouls17,total_fouls18,total_fouls19,total_fouls20,total_fouls21],
"comebacks":[total_comebacks09,total_comebacks10,total_comebacks11,total_comebacks12,total_comebacks13,total_comebacks14,total_comebacks15,total_comebacks16,total_comebacks17,total_comebacks18,total_comebacks19,total_comebacks20,total_comebacks21]}

In [177]:
prem_stats = pd.DataFrame(data1)

In [178]:
prem_stats

     goals   fouls  comebacks
0   1053.0  9194.0         17
1   1063.0  8518.0         16
2   1066.0  7738.0         10
3   1063.0  7953.0         21
4   1052.0  8182.0         14
5    975.0  8622.0         11
6   1026.0  8178.0         17
7   1064.0  8634.0         12
8   1018.0  7867.0         18
9   1072.0  7774.0         17
10  1034.0  8157.0         22
11  1024.0  8274.0         18
12  1071.0  7681.0         18

In [183]:
prem_stats.astype({'goals': 'int64'}).dtypes
prem_stats.astype({'fouls': 'int64'}).dtypes

goals        float64
fouls          int64
comebacks      int64
dtype: object

In [184]:
prem_stats.to_csv("premstat.csv")

# DONE :)