In [31]:
import pandas as pd 
import numpy as np
import os

In [32]:
prem = pd.read_csv("E0.csv")

In [33]:
prem

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,15/08/09,Aston Villa,Wigan,0,2,A,0,1,A,...,2.04,1.92,1.91,1.81,21,0.00,1.28,1.22,4.40,3.99
1,E0,15/08/09,Blackburn,Man City,0,2,A,0,1,A,...,2.15,2.04,1.78,1.71,24,0.00,2.58,2.38,1.60,1.54
2,E0,15/08/09,Bolton,Sunderland,0,1,A,0,1,A,...,2.25,2.12,1.70,1.66,23,0.00,1.68,1.61,2.33,2.23
3,E0,15/08/09,Chelsea,Hull,2,1,H,1,1,D,...,1.67,1.58,2.44,2.26,22,0.00,1.03,1.02,17.05,12.96
4,E0,15/08/09,Everton,Arsenal,1,6,A,0,3,A,...,2.20,2.06,1.77,1.70,24,0.00,2.27,2.20,1.73,1.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,09/05/10,Everton,Portsmouth,1,0,H,0,0,D,...,1.62,1.56,2.40,2.30,15,0.00,1.10,1.06,10.00,7.72
376,E0,09/05/10,Hull,Liverpool,0,0,D,0,0,D,...,1.79,1.71,2.23,2.05,15,0.00,5.00,4.38,1.20,1.18
377,E0,09/05/10,Man United,Stoke,4,0,H,2,0,H,...,1.57,1.50,2.63,2.46,14,-2.25,2.08,2.02,1.91,1.85
378,E0,09/05/10,West Ham,Man City,1,1,D,1,1,D,...,1.67,1.60,2.30,2.20,13,0.00,3.25,2.99,1.44,1.35
379,E0,09/05/10,Wolves,Sunderland,2,1,H,1,1,D,...,2.00,1.92,1.94,1.84,21,0.00,1.73,1.64,2.33,2.16

##### here i was trying to create a table made up of the teams particpating in the 09/10 season

In [34]:
teams = prem["HomeTeam"].drop_duplicates()

In [35]:
teams

0     Aston Villa
1       Blackburn
2          Bolton
3         Chelsea
4         Everton
5      Portsmouth
6           Stoke
7          Wolves
8      Man United
9       Tottenham
10     Sunderland
11          Wigan
12     Birmingham
13        Burnley
14           Hull
15      Liverpool
16        Arsenal
19       Man City
23         Fulham
24       West Ham
Name: HomeTeam, dtype: object

In [36]:
teams[:10]

0    Aston Villa
1      Blackburn
2         Bolton
3        Chelsea
4        Everton
5     Portsmouth
6          Stoke
7         Wolves
8     Man United
9      Tottenham
Name: HomeTeam, dtype: object

In [37]:
prem.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')

Date = Match Date (dd/mm/yy)
HomeTeam = Home Team
AwayTeam = Away Team
FTHG = Full Time Home Team Goals
FTAG = Full Time Away Team Goals
FTR = Full Time Result (H=Home Win, D=Draw, A=Away Win)
HTHG = Half Time Home Team Goals
HTAG = Half Time Away Team Goals
HTR = Half Time Result (H=Home Win, D=Draw, A=Away Win)

Match Statistics (where available)
Attendance = Crowd Attendance
Referee = Match Referee
HS = Home Team Shots
AS = Away Team Shots
HST = Home Team Shots on Target
AST = Away Team Shots on Target
HHW = Home Team Hit Woodwork
AHW = Away Team Hit Woodwork
HC = Home Team Corners
AC = Away Team Corners
HF = Home Team Fouls Committed
AF = Away Team Fouls Committed
HO = Home Team Offsides
AO = Away Team Offsides
HY = Home Team Yellow Cards
AY = Away Team Yellow Cards
HR = Home Team Red Cards
AR = Away Team Red Cards
HBP = Home Team Bookings Points (10 = yellow, 25 = red)
ABP = Away Team Bookings Points (10 = yellow, 25 = red)

In [60]:
prem09 = prem.drop(columns=['B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'])

In [39]:
prem09

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,15/08/09,Aston Villa,Wigan,0,2,A,0,1,A,...,5,7,15,14,4,6,2,2,0,0
1,E0,15/08/09,Blackburn,Man City,0,2,A,0,1,A,...,9,5,12,9,5,4,2,1,0,0
2,E0,15/08/09,Bolton,Sunderland,0,1,A,0,1,A,...,3,13,16,10,4,7,2,1,0,0
3,E0,15/08/09,Chelsea,Hull,2,1,H,1,1,D,...,12,3,13,15,12,4,1,2,0,0
4,E0,15/08/09,Everton,Arsenal,1,6,A,0,3,A,...,5,9,11,13,4,9,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,09/05/10,Everton,Portsmouth,1,0,H,0,0,D,...,13,4,12,11,14,1,0,0,0,0
376,E0,09/05/10,Hull,Liverpool,0,0,D,0,0,D,...,6,7,15,11,2,6,1,0,0,0
377,E0,09/05/10,Man United,Stoke,4,0,H,2,0,H,...,13,4,10,4,10,2,2,0,0,0
378,E0,09/05/10,West Ham,Man City,1,1,D,1,1,D,...,8,6,12,7,4,3,2,0,0,0
379,E0,09/05/10,Wolves,Sunderland,2,1,H,1,1,D,...,7,5,11,19,4,1,1,2,0,2

In [40]:
prem.loc[:20, ["HomeTeam","AwayTeam","HF","AF"]]

       HomeTeam    AwayTeam  HF  AF
0   Aston Villa       Wigan  15  14
1     Blackburn    Man City  12   9
2        Bolton  Sunderland  16  10
3       Chelsea        Hull  13  15
4       Everton     Arsenal  11  13
5    Portsmouth      Fulham  11  18
6         Stoke     Burnley  15  10
7        Wolves    West Ham   9   5
8    Man United  Birmingham  13   7
9     Tottenham   Liverpool  14  16
10   Sunderland     Chelsea  14  10
11        Wigan      Wolves   8  21
12   Birmingham  Portsmouth  11  20
13      Burnley  Man United   8  12
14         Hull   Tottenham  23  13
15    Liverpool       Stoke  10   9
16      Arsenal  Portsmouth   9  10
17   Birmingham       Stoke   8  13
18         Hull      Bolton  19  19
19     Man City      Wolves   7  11
20   Sunderland   Blackburn  12  14

## goals

In [41]:
total_Hgoals09= prem09["FTHG"].sum()
total_Agoals09 = prem09["FTAG"].sum()
total_goals09 = total_Agoals09 + total_Hgoals09

In [42]:
avarage_goals09 = prem09["FTHG"].mean() + prem09["FTAG"].mean()

### number of goals scored in the premier league 09/10 season:

In [43]:
total_goals09

1053

### avarage goals scored in the premier league 09/10 season:

In [44]:
avarage_goals09

2.7710526315789474

## fouls

In [45]:
total_fouls09 = prem09["AF"].sum() + prem09["HF"].sum()

In [46]:
total_fouls09

9194

In [47]:
avarage_fouls09 = prem09["AF"].mean() + prem09["HF"].mean()

In [48]:
avarage_fouls09

24.194736842105264

#### total fouls in the premier league 09/10 season:

In [49]:
total_fouls09

9194

#### avarage fouls in the premier league 09/10 season:

In [50]:
avarage_fouls09

24.194736842105264

### shots

In [51]:
total_shots09 = prem["AS"].sum() + prem09["HS"].sum()

In [52]:
total_shots09

9290

In [53]:
avarage_shots09 = prem["AS"].mean() + prem["HS"].mean()

In [54]:
avarage_shots09

24.44736842105263

In [55]:
total_shots_target09 = prem["HST"].sum() + prem["AST"].sum()

###  total shots in the premier league 09/10 season:

In [ ]:
total_shots09

9290

###  avarage shots in the premier league 09/10 season:

In [ ]:
total_shots_target09

5188

###  i created two functions to make everything faster
### ***avarage*** which calculates the avarage of a variable
### ***percentage*** which calculates the percentage when given two variables

In [58]:
def avarage(x):
    y = 380
    return x/y

In [61]:
avarage_shots_target09 = avarage(total_shots_target09)

In [ ]:
def percentage(x,y):
    return (x/y)*100

In [ ]:
percentage_shots09 = percentage(total_goals09,total_shots_target09)

### this shows a percentage of how many goals were scored from shots on target

In [ ]:
percentage_shots09

20.29683885890517

### comebacks